// Import variables
@use './partials/variables.scss' as *;
// Import all of Bootstrap's CSS
@import "/node_modules/bootstrap/scss/bootstrap";


// Reset rules
* {
    vertical-align: baseline;
    font-weight: inherit;
    font-family: inherit;
    font-style: inherit;
    font-size: 100%;
    border: 0 none;
    outline: 0;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

nav ul {
    list-style-type: none;
}

// Style rules
body {
    font-family: $bb-font-primary;
}

h2,
h3,
h4,
h5 {
    font-weight: 500;
}

p,
span {
    font-family: $bb-font-secondary;
    text-align: left;
}

// Button
.button {
    border-radius: 1rem;
    padding: 0.8rem 1.4rem;
    color: $bb-secondary;
    font-weight: 500;
    font-size: 1.1rem;
    background-color: $bb-secondary-background;
}


// Utilities
.title_mark {
    // mark title with primary color
    color: $bb-primary;
    font-weight: 700;
}

#large_element,
#small_element {
    .container_search {
        display: flex;
        align-items: center;
        padding: 0.5rem;
        flex-grow: 1;

        #searchBoxWrapper {
            flex-grow: 1;

            .tt-search-box {
                flex-grow: 1;
                padding-left: 0.5rem;
            }
        }


    }

    .container_search.loading {
        #searchBoxWrapper {
            position: relative;

            .layover {
                background: #eee;
                background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
                border-radius: 5px;
                background-size: 200% 100%;
                animation: 1.5s loading linear infinite;
                position: absolute;
                left: 0;
                bottom: 0;
                right: 0;
                top: 0;
                z-index: 999999;
            }
        }



    }

    @keyframes loading {
        to {
            background-position-x: -200%;
        }
    }
}

.swiper-button-prev.swiper-button-prev-1::after,
.swiper-button-prev.swiper-button-prev-2::after,
.swiper-button-prev.swiper-button-prev-3::after,
.swiper-button-next.swiper-button-next-1::after,
.swiper-button-next.swiper-button-next-2::after,
.swiper-button-next.swiper-button-next-3::after {
    width: 25px;
    height: 25px;
    font-size: 0.8rem;
    border-radius: 50%;
    background-color: rgba($color: white, $alpha: 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: revert;
    color: black;
    border: 1px solid gray;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: 12px;
    scrollbar-color: #8f8f8f #ffffff;
}

/* Chrome, Edge, and Safari */
::-webkit-scrollbar {
    width: 12px;
    padding: 0;
    margin: 0;

}

#apartments {
    scrollbar-width: 0px;
    scrollbar-color: transparent;

}

#apartments::-webkit-scrollbar {
    display: none;
}



::-webkit-scrollbar-track {
    background: rgba($color: #000000, $alpha: 0.1);
}



::-webkit-scrollbar-thumb {
    background-color: #8f8f8f;
    border-radius: 10px;
    padding: 0;
    margin: 0;
    min-height: 50px;
}

#marker.mapboxgl-marker {
    background-image: url(../img/pin_boolbnb.png);
    will-change: transform;
    background-image: url("../img/pin_boolbnb.png");
    background-size: cover;
    width: 40px;
    height: 54px;
}