// Colors
$bb-primary: #45BAE1;
$bb-secondary: #51D48E;
$bb-secondary-background: rgba(81, 212, 142, 0.15);
$bb-lighter: #FFF;
$bb-darker: #000;

// Fonts
$bb-font-primary: 'Work Sans', sans-serif;
$bb-font-secondary: 'Roboto', sans-serif;